* {
    box-sizing: border-box;
}

html {
    background:  linear-gradient(0deg, black 40%, rgb(149, 0, 117) 150%);
    height: 120%;
    background: no-repeat url("/assets/AoT\ WP.jpg");
}

body {
    position: fixed;
    align-items: center;
    display: flex;
    height: 100vh;
    left: 38%;
}

article {
    background: linear-gradient(31deg, rgb(116 53 14) 40%, black 100%);
    width: 50vw;
    max-width: 25em;
    min-width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0 1em 1em rgb(84 36 0);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-top: -1rem;
    margin-bottom: 1rem;
    text-align: center;
    background: #fdff91;
    align-content: center;
}

h1 {
    margin: 5rem;
    font-family: fantasy;
}

img {
    width: 10em;
    border-radius: 10em;
    position: relative;
    top: 2em;
    border: 5px solid #fff;
    box-shadow: 0px 0px 3px 3px black;
}

span {
    text-align: center;
    margin-bottom: 3em;
}

h2 {
    font-family: fantasy;
}

p.overmij {
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.25s;
}

span.overmij p.overmij {
    
  }

span.overmij:hover p.overmij {
    opacity: 1;

  }